%img{src: asset_url('login_background.jpg'), style: 'position:absolute;width: 100%; height: 100%'}
.row
  .col-md-12
    #flash
      - if flash
        - flash.each do |key, value|
          .alert.alert-dismissable{class: "alert-#{key}"}
            %button.close{:'data-dismiss' => 'alert', :'aria-hidden' => 'true', type: 'button'} &times;
            %p= value

#form-container
  = form_for :session, url: sessions_path, html: { class: "form-horizontal trans-bg well", style: 'position:absolute;left:50%;margin-left: -172.5px; top:50%; margin-top: -94px' } do |f|
    %h2.text-center.text-info{style: 'margin-top:-5px'} Login
    .form-group
      = f.label :username, class: "control-label col-md-3"
      .col-md-9
        = f.text_field :username, class: "form-control" 

    .form-group
      = f.label :password, class: "control-label col-md-3"
      .col-md-9
        = f.password_field :password, class: "form-control" 

    .form-group-submit.form-group
      .col-md-3.col-md-offset-3
        = f.submit "Login", class: "btn btn-primary", id: "login_submit", type: 'button'
      .col-md-2
        = f.submit "Create Account", type: 'button', class: "btn btn-default", id: 'register'
