.navbar{style: 'background-color: #009999; border-radius: 0px;'}
  .container{style: 'margin-top: 13px;'}
    %img{src: asset_path('mickey.png'), width: '50px'}
    %h3{style: 'display:inline;font-family:Disney;'} Disney Adventures
.container#body-container{style: 'background-color: #D0D0D0;border-radius:5px;height:80%;position:relative;'}
  %img{src: asset_path('jigsaw.jpg'), style: 'position:absolute;left:50%;margin-left:-300px;'}
  %h2.play{style: 'position:absolute;top:57%;left:50%;margin-left:-73px;margin-top:-16px;cursor:pointer;cursor:hand;'}
    %u Play Game
  %img{src: asset_path('pixar_horiz.jpg'), style: 'position:absolute;bottom:2%;height:200px;left:50%;margin-left:-270px;'}
