#-------------------GAME------------
#
$(document).ready( ->

  STATES = ['intro']
  FPS = 60

  class g.Intro

    constructor: ->
      intros = new g.Playlist(['L9QkXp8xVqg','VTjjXQLWe6E'])
      intros.play(0, 'game')


  class g.Game
    level: null
    message: 'THIS IS AWESOME'
    game_count: 1

    constructor: ->
      @shuffleMessage()
      @createCanvas()
      g.keyboard = new g.Keyboard
      @createMinigames()

    createMinigames: ->
      per_game = Math.floor(@shuffled.length / @game_count)

      @substrings = []
      for i in [0..(@game_count-1)]
        ending = if i == @game_count - 1 then @shuffled.length else per_game + i * per_game
        @substrings[i] = @shuffled.substr(i * per_game, ending)

      @gameManager = new g.GameManager()
      @gameManager.addGame(g.ToyStory, {'substr': @shuffled.substr(0, per_game)})
      @gameManager.addGame(g.Ending, {'message': @message, 'shuffled': @shuffled})

      @gameManager.setGame(g.ToyStory.name)
      #@gameManager.setGame(g.Ending.name)

    shuffleMessage: ->
      a = @message.toUpperCase().split("")

      #Remove Spaces
      for i in [0..a.length]
        if a[i] == ' '
          a.splice(i, 1)

      length = a.length
      for i in [0..length]
        rand = Math.floor(Math.random() * length)
        temp = a[i]
        a[i] = a[rand]
        a[rand] = temp

      @shuffled = a.join("")


    #CREATE AND PREPARE CANVAS
    createCanvas: ->
      @canvas = document.createElement('canvas')
      $('.player_container').html("<img src='<%= asset_path("login_background.jpg") %>' style='position:absolute;width: 100%; height: 100%'>")
      $('.player_container').append(@canvas)
      @canvas.width = window.innerWidth * 0.95
      @canvas.height = window.innerHeight * 0.95
      $(@canvas).css({'border':'3px solid black','position':'absolute','left':'50%', 'top':'50%', 'margin-left': "-#{@canvas.width / 2}px", 'margin-top': "-#{@canvas.height / 2}px", 'background-color': 'white'})
      @context = @canvas.getContext('2d')
      g.context = @context

    update: ->

    render: ->
      

  class g.GameManager
    names: [g.ToyStory.name, g.Ending.name]
    index: 0

    constructor: ->
      @games = {}
      @currentGame = null

    addGame: (gameClass, params) ->
      @games[gameClass.name] =
        "class": gameClass
        "instance": null
        "params": params

    nextGame: ->
      @index++
      @setGame(@names[@index])

    setGame: (game) ->
      @currentGame = @games[game].instance ?= new @games[game].class(@games[game].params)

  #if window.location.pathname.match(/game/) #TODO dev
  #  g.game = new g.Game()

)
