$(document).ready( ->
  class g.Scene
    background: null
    audio: null
    collected: []
    remaining: []
    letters: []

    constructor: (params) ->
      @params = params

      @letters = params['substr'].split("") if params['substr']

      @remaining = @letters.slice(0)

      @showInstructions()

      @createSprites()

      @audio = new g.AudioPlaylist(@music['songs'], @music['volume'])

    createSprites: ->
      @backgroundParams['game'] = @
      @background = new g.Background(@backgroundParams)

      @sprites = []
      @sprites.push @background

    restart: ->
      @deathAnim = false
      @successAnim = false
      @paused = false
      @sprites = []
      @remaining = @letters.slice(0)
      @collected = []
      @createSprites()

    update: ->
      @sprites.forEach (sprite) => sprite.update()

    render: ->
      @sprites.forEach (sprite) => sprite.render()
      @showSuccess() if @successAnim
      @showDeath() if @deathAnim

    pause: ->
      @paused = !@paused

    showSuccess: ->
      @paused = true
      canvas = $('canvas').get(0)
      g.context.globalAlpha = 0.9
      g.context.fillStyle = "#444"
      g.context.fillRect(0, 0, canvas.width, canvas.height)
      g.context.globalAlpha = 1.0
      g.context.fillStyle = "#6C7349"

      blur = 3

      g.context.textBaseline = "top"
      g.context.shadowColor = "#000"
      g.context.shadowOffsetX = 1
      g.context.shadowOffsetY = 0
      g.context.shadowBlur = blur

      g.context.font = "64px Arial"

      txt = "Letters Collected"
      g.context.fillText txt, (canvas.width / 2) - (g.context.measureText(txt).width / 2), (canvas.height / 3)

      g.context.font = "32px Arial"
      txt = "Press Space to Continue. Letters have been saved."
      g.context.fillText txt, (canvas.width / 2) - (g.context.measureText(txt).width / 2), (canvas.height / 12) * 7
      g.context.shadowColor = "rgba(0, 0, 0, 0)"

      if g.keyboard.key "space"
        @ended = true


    showDeath: ->
      @paused = true
      canvas = $('canvas').get(0)
      g.context.globalAlpha = 0.9
      g.context.fillStyle = "#444"
      g.context.fillRect(0, 0, canvas.width, canvas.height)
      g.context.globalAlpha = 1.0
      g.context.fillStyle = "#6C7349"

      blur = 3

      g.context.textBaseline = "top"
      g.context.shadowColor = "#000"
      g.context.shadowOffsetX = 1
      g.context.shadowOffsetY = 0
      g.context.shadowBlur = blur

      g.context.font = "64px Arial"

      txt = "OUT OF LIVES"
      g.context.fillText txt, (canvas.width / 2) - (g.context.measureText(txt).width / 2), (canvas.height / 3)

      g.context.font = "32px Arial"
      txt = "Press Space to Restart Mini-game. Letters have been lost for this mini-game."
      g.context.fillText txt, (canvas.width / 2) - (g.context.measureText(txt).width / 2), (canvas.height / 12) * 7

      g.context.shadowColor = "rgba(0, 0, 0, 0)"

      if g.keyboard.key "space"
        @restart()

    showInstructions: ->
      @paused = true
      $('.player_container').prepend('
        <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Toy Story</h4>
              </div>
              <div class="modal-body">
                <p>In this minigame, use the UP and DOWN arrow keys to help Woody and Buzz avoid the balls of Zurg. Try to catch all the letters to win. The hearts represent the lives left before you are forced to restart the minigame.</p>
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">Got It!</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal --> 
      ')
      $('.modal').modal()
      scene = @
      $('.modal').on('hidden.bs.modal', ->
        scene.paused = false
      )


  class g.Flying extends g.Scene
    backgroundParams: { 'mode': 'fill', 'color': '#CCFFFF' }
    music: {'songs': ['friend', 'when_she_loved_me'], 'volume': 0.3 }

    createSprites: ->
      super

      height = 250
      width = 250
      
      #PLAYER (BUZZ AND WOODY)
      @sprites.push (@player = new g.Player({'game': @, 'image': '<%= asset_path('buzz_fly.png') %>', 'width': width, 'height': height, 'y': $('canvas').get(0).height / 2 - height / 2, 'animation': true, 'columns': 5, 'rows': 5, 'total': 18, 'speed': 0.2, 'sheight': 250, 'swidth': 250, 'ytopspeed': 5, 'margin': 4.0, 'lives': 4, 'remove': false}))

      #CLOUDS
      @sprites.push(new g.SpriteFactory({'game': @, 'spriteVelocity': 5, 'addInterval': 100, 'spriteParams': { 'x': $('canvas').get(0).width - 250, 'y': 'random', 'height': 120, 'width': 250, 'desc':'cloud', 'image': '<%= asset_path('cloud.png') %>', 'contains': [{'game': @, 'margin': 2.5, 'desc': 'letter'}, {'letters': @letters, 'class': g.Letter, 'occasional': true}]}}))

      #ZURG'S BALLS OF DEATH
      @sprites.push(new g.SpriteFactory({'game': @, 'class': g.Enemy, 'spriteVelocity': 5, 'addInterval': 100, 'spriteParams': { 'x': $('canvas').get(0).width - 250, 'y': $('canvas').get(0).height / 2 - 45, 'width': 15, 'shape': 'circle', 'color': 'yellow', 'angle': 'random'} }))

      #HEARTS
      @player.hearts = []
      for i in [0...@player.lives]
        @sprites.push (@player.hearts[i] = new g.Sprite({'game': @, 'desc': 'heart', 'image': '<%= asset_path('heart.png') %>', 'width': 30, 'height': 30, 'y': 10, 'x': $('canvas').get(0).width - 40 - 40 * i}))


      #EMPEROR ZURG
      @sprites.push (@enemy = new g.Sprite({'game': @, 'image': '<%= asset_path('zurg.png') %>', 'width': width, 'height': height, 'y': $('canvas').get(0).height / 2 - height / 2, 'x': $('canvas').get(0).width - width}))

    update: ->
      if g.keyboard.key "up"
        @player.up()
      else if g.keyboard.key "down"
        @player.down()
      super()



  class g.MessageReveal extends g.Scene
    backgroundParams: { 'mode': 'fill', 'color': '#D4AF37' }
    colors: []
    message: ''
    music: {'songs': ['whole_new_world', 'friend'], 'volume': 1.0 }
    shuffled: ''
    state: "intro"

    constructor: (params) ->
      @message = params['message']
      @shuffled = params['shuffled']
      @audio = new g.AudioPlaylist(@music['songs'], @music['volume'])
      @createSprites()
      $('.player_container').prepend("<div id='sprites'></div>")
      $('#sprites').get(0).style.cssText = $('canvas').get(0).style.cssText
      $('#sprites').width($('canvas').width())
      $('#sprites').height($('canvas').height())
      $('#sprites').css({'z-index':1, 'background-color':'rgba(0, 0, 0, 0)'})
      $('#sprites').html("<div id='scrambled-container'><h1 class='text-center' style='font-family: Disney'>Collected Characters</h1><div class='text-center' id='scrambled'></div></div>")

      for i in [0..@shuffled.length - 1]
        color = g.COLORS[Math.floor(Math.random() * g.COLORS.length)]
        $('#sprites #scrambled').append("<span id='char#{i}' style='display: none;font-size: 64px; font-family: Disney; color: #{color};font-weight: bold;margin-right:35px'>#{@shuffled[i]}</span>")
        
      id = 0
      obj = @
      a = setInterval( ->
        if $("#sprites #scrambled span#char#{id}").length == 0
          $('#sprites #scrambled').append("<button class='btn center-block btn-lg btn-primary' style='height: 75px; width: 150px; font-size: 24px; font-family: Disney'>Solve</button>")
          $('#sprites').append("<div id='solved' class='text-center'></div>")
          obj.showSolved()
          clearInterval(a)

        $("#sprites #scrambled span#char#{id}").show(400)
        id++
      , 400)


    showSolved: ->
      @words = @message.split(" ")

      $("#sprites #solved").append("<div id='line0'></div>")

      line = 0
      count = 0
      height = Math.floor(($('canvas').height() - $('#scrambled-container').height()) / Math.ceil(@message.length / 14)) - 20
      for i in @words
        if count + i.length > 14
          line++
          count = 0
          $("#sprites #solved").append("<div id='line#{line}'></div>")

        for j in [0..i.length - 1]
          $("#sprites #solved #line#{line}").append("<span style='height: #{height}px;display:inline-block;border-bottom: 5px solid black; width: 5%;'><span class='char' style='visibility:hidden;font-weight: bold;font-family:Disney;font-size: #{$("#sprites #solved #line#{line}").width() * 0.05 * 0.98 * 2}px;'>#{i[j]}</span></span><span style='width:2%;display: inline-block;'></span>")

        $("#sprites #solved #line#{line}").append("<span style='width: 5%;display:inline-block;'></span>")

        count += i.length + 1

      obj = @
      $("#sprites #scrambled").height($("#sprites #scrambled").height())
      $('button').click( ->
        $(this).remove()
        a = setInterval( ->
          if $("#sprites #scrambled span:not(.counted)").length == 0
            clearInterval(a)
          else
            id = Math.floor(Math.random() * $("#sprites #solved .char:not(.counted)").length)
            index = obj.shuffled.indexOf($("#sprites #solved .char:not(.counted)")[id].innerHTML)

            obj.shuffled = obj.shuffled.slice(0, index) + obj.shuffled.slice(index + 1)

            element = $($("#sprites #scrambled span:contains('#{$("#sprites #solved .char:not(.counted)")[id].innerHTML}')").get(0))

            orig = element.offset()

            $('body').prepend(element)

            ref = $("#sprites #solved .char:not(.counted)")[id]

            position = $(ref).offset()

            element.css({'position': 'absolute', 'left': orig.left, 'right': orig.right, 'z-index': 3})

            element.animate({left: position.left, top: position.top - 5, fontSize: ref.style.fontSize}, 800)
            $(ref).addClass('counted')
        , 800)
      )

        

    update: ->
      super()

    render: ->
      super()
)
