/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.audiojs {
  height: 0px;
}

.trans-bg {
  background-color: #FFFFFF;
  border: 1px solid black;
  opacity: 0.8;
}

body {
  overflow: hidden;
}

@font-face {
  font-family: 'Disney';
  src: url(<%= asset_path('disney.eot') %>);
  src: url(<%= asset_path('disney.svg') %>) format('svg'), 
       url(<%= asset_path('disney.eot') %>) format('embedded-opentype'),
       url(<%= asset_path('disney.woff') %>) format('woff'),
       url(<%= asset_path('disney.ttf') %>) format('truetype');
  font-weight: normal;
  font-style: normal;
}
