!!! 5
%html{style: 'height: 100%'}
  %head
    %title Disney Adventures
    %link{rel: 'icon', type: 'image/png', href: asset_path('favicon.png')}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %script{src: 'http://www.youtube.com/player_api'}
  %body{style: 'height: 100%'}
    .player_container{style: 'width: 100%; height: 100%;'}
      =yield
